div.mtd-popup {
  background-color: #DFDFDF !important; /* chrome address bar color */
  position: fixed !important;
  /*display: flex !important;
  justify-content: center !important;
  align-items: center !important;*/
  height: 484px !important;
  width: 40% !important;
  right: 10px !important;
  top: 10px !important;
  min-width: 200px !important;
  border: 1px solid #AAAAAB !important;
  border-radius: 5px !important;
  z-index: 2147483647 !important; /* 2147483647 is the largest positive value of a signed integer on a 32 bit operating system */
  font-family: Consolas, monospace !important;
}

textarea.mtd-textarea {
  display: block !important;
  width: 96% !important;
  height: 400px !important;
  margin: auto !important;
  border-style: none !important;
  border-radius: 5px !important;
  padding: 4px !important;
  background-color: rgb(250, 250, 250) !important;
  color: rgb(60, 60, 60) !important;
  resize: none !important; /* can't resize textarea */
  font-family: Consolas, monospace !important;
}

textarea.mtd-textarea:hover {
  border-style: none !important;
  border-radius: 5px !important;
}

textarea.mtd-textarea:focus {
  outline: none !important;
}

h1.mtd-title {
  margin: 5px 0 !important;
  color: rgb(60, 60, 60) !important;
  text-align: center !important;
  font-size: large !important;
  font-weight: bold !important;
}

div.mtd-buttons {
  padding: 10px !important;
  text-align: center !important;
}

button.mtd-btn {
  padding: 5px !important;
  font-family: Consolas, monospace !important;
  border: none !important;
  border-radius: 5px !important;
  background-color: #AAAAAB !important;
  color: rgb(0, 0, 0) !important;
}

button.mtd-btn:hover {
  color: #AAAAAB !important;
  background-color: rgb(60, 60, 60) !important;
}

button.mtd-close {
  float: right !important;
  position: relative !important;
  left: -4px !important;
  margin: 0 !important;
  padding: 5px !important;
  cursor: pointer !important;
  color: rgb(60, 60, 60) !important;
  background: none !important;
  border: none !important;
  font-size: 20px !important;
  font-weight: bold !important;
  font-family: Helvetica, Arial, sans-serif !important;
  box-shadow: none !important;
}

button.mtd-close:hover {
  color: rgb(200, 25, 25) !important;
  box-shadow: none !important;
  background: none !important;
  border: none !important;
}
